* {
	font-family: 'Secular One', sans-serif;e;
}
body {
	background-image: url(https://img.freepik.com/free-vector/gradient-liquid-abstract-background_52683-60469.jpg?size=626&ext=jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/*------Carrousel---------*/

.calesita {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
	@media (min-width: 1024px) {
   .calesita {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 2rem;
 }
}

.carousel-inner {
	width: 100%;
	height: 330px;
	object-fit: cover;
}

/*-----------Cards--------*/
.tarjetasCursos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	
}
.cursos {
	height: 15rem;
	object-fit: cover;
}

/*-----Objetivos------*/
.miniBio {
	width: 100%;
	padding: 2rem;
	background-color: #eee;
	text-align: center;
}


/*----------Footer------------*/

.pieDePagina{
	background-color: #444;
	color: #fff;
}
.menuFooter {
	display: flex;
	justify-content: space-around;
	flex-direction: column;

}
.menuFooter a {
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
	line-height: 2rem;

}
@media (min-width: 768px) {
   .menuFooter {
   	flex-direction: row;   
  }
}

.pie {
	list-style: none;
	text-align: justify;
}

